.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 250;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(4n + 1) {
  stroke: #83def3;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.text:nth-child(4n + 2) {
  stroke: #f0dca6;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
.text:nth-child(4n + 3) {
  stroke: #f0a6df;
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
}
.text:nth-child(4n + 4) {
  stroke: #a6f0b7;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}
.atbs {
  background: #ffffff;
  background-size: .2em 100%;
  font: 5em/1 'Quicksand', Arial;
  text-transform: uppercase;
  margin: 0;
}

svg {
  
  width: 100%;
  height: 100%;
}
